<p class="heading">TOTAL PRODUCTS</p>
<div class="container">
  <table class="table table-success table-striped table-bordered">
    <thead class="table-bordered">
      <tr>
        <th scope="col">Product Code</th>
        <th scope="col">Product Name</th>
        <th scope="col">Product Price (Rs)</th>
        <th scope="col">Category</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-bordered" *ngFor="let pro of allP">
        <td>{{ pro.Pcode }}</td>
        <td>{{ pro.Pname }}</td>
        <td>{{ pro.Pprice }}</td>
        <td>{{ pro.productCategory.Cname }}</td>
        <td>
          <button
            class="button"
            mat-raised-button
            color="primary"
            (click)="showEditForm(pro)"
          >
            Edit
          </button>
          <button mat-raised-button color="warn" (click)="delete(pro)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Edit Product -->
<form
  class="form"
  [formGroup]="editForm"
  (ngSubmit)="edit()"
  [hidden]="!showEdit"
>
  <label>Product Code</label>
  <input class="input1" formControlName="Pcode" type="number" />

  <label>Edit Product Name</label>
  <input
    class="input1"
    formControlName="Pname"
    type="text"
    placeholder="Enter Product Name"
  />

  <label>Edit Product Price</label>
  <input
    class="input1"
    formControlName="Pprice"
    type="number"
    placeholder="Enter Product Price"
  />

  <label>Edit Product Category</label>
  <select class="category-select" formControlName="Pcat">
    <option value="" disabled selected>Choose Category</option>
    <option *ngFor="let cat of allC" [value]="cat.Cname">
      {{ cat.Cname }}
    </option>
  </select>
  <div class="example-button-row mt-5">
    <button
      class="button"
      mat-raised-button
      color="warn"
      (click)="hideEditForm()"
    >
      Cancel
    </button>
    <button class="button" mat-raised-button color="primary">Edit</button>
  </div>
</form>
