<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-link">
          <a aria-current="page" routerLinkActive="active" (click)="Navigate('inventory/products')" style="cursor: pointer;">Products</a>
        </li>
        <div class="dropdown">
          <li class="nav-link">Inventory
          <div class="dropdown-content">
            <span class="nav-link"  aria-current="page" routerLinkActive="active" (click)="Navigate('inventory/additem')">Add Product</span>
            <span class="nav-link"  aria-current="page" routerLinkActive="active" (click)="Navigate('inventory/category')">Add Category</span>
          </div>
        </li>
        </div>
        <div class="dropdown">
          <li class="nav-link">Billing
          <div class="dropdown-content">
            <span class="nav-link"  aria-current="page" routerLinkActive="active" (click)="Navigate('billing/bill')">Bill</span>
            <span class="nav-link"  aria-current="page" routerLinkActive="active" (click)="Navigate('billing/order')">Order</span>
          </div>
        </li>
        </div>
      </ul>
    </div>
  </div>
    <button (click)="logout()" class="add-button mx-4 my-2">Logout</button>
</nav>
<router-outlet></router-outlet>